@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.container {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row ;
}
.menu-icon {
  display: none;

}
.homepage {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  margin: 0 2% 0 5%;
}
.logout{
  font-size: 20px;
  font-weight: 400;
  color: #FFD570;
}
.nav-elements {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-direction: row;
  flex: 1;
  align-items: center;
  margin: 0 5% 0 5%;
}
a {
  font-size: 20px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

@media (max-width: 600px) {
  .container {
      justify-content: flex-end;
  }
  .webOnly{
    display: none;
  }


.menu-icon {
  display: block;
  cursor: pointer;
}

.nav-elements {
  position: absolute;
  right: 0;
  top: 12%;
  background-color: #fef7e5;
  width: 0px;
  height: calc(100vh - 60px);
  transition: all 0.3s ease-in;
  overflow: hidden;
}

.nav-elements.active {
  margin: 0;
  width: 50%;
}

.nav-elements {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logout{
  margin-top: 22px;
}

.nav-elements li {
  margin-right: unset;
  margin-top: 22px;
}
.nav-elements a {
  padding-top: 20px;
}
}
