table {
    margin: 2% 0;
    padding: 0;
    width: 50%;
}

thead{
    font-weight: 600;
    font-size: 22px;
}

tbody{
    text-align: center;
}

.incrementButton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
.page .editCell{
    width: fit-content;
}
.page .searchBar{
    width: 30%;
}

.page input{
    width:10%;
    text-align: center;
}


@media (max-width: 600px) {
    table {
        font-weight: 400;
        width: 90%;
    }
    thead{
        font-weight: 600;
        font-size: 18px;
    }
    .incrementButton{
        margin: 2%;
      }
    button{
        margin: 2%;
    }
    .page .searchBar{
        width: 90%;
    }
    .page input{
        margin: 2%;
        width:30%;
    }

}
